.layout {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  margin: 0 auto;
  background-color: var(--bg-app);
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* Add padding at the bottom so content doesn't hide behind the navbar */
  padding-bottom: var(--bottom-nav-height);
}
